{% load i18n %}{% autoescape off %}
{% blocktrans %}
<p>
  你收到此电子邮件是因为你正在请求重置帐户密码，来自：{{ site_name }}
</p>
{% endblocktrans %}
请访问该页面并选择一个新密码：
{% block reset_link %}
<p>
<a href="{{ protocol }}://{{ domain }}/auth/password/reset/confirm?uid={{ uid }}&token={{ token }}">{{ protocol }}://{{ domain }}/auth/password/reset/confirm?uid={{ uid }}&token={{ token }}</a>
</p>
{% endblock %}
<p>
你在站点的用户名：{{ user.get_username }}
</p>

感谢使用我们的站点！

<p>
{% blocktrans %} {{ site_name }} 团队{% endblocktrans %}
</p>

{% endautoescape %}
